{%load static %}
<!-- Template Main CSS File -->
  <link href="{%static 'bootstrap-5.2.2-dist/css/bootstrap.css'%}" rel="stylesheet">
  <link href="{%static 'bootstrap-5.2.2-dist/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{%static 'fontawesome-free/css/all.min.css'%}" rel="stylesheet">
  <link href="{%static 'fontawesome-free/css/all.css'%}" rel="stylesheet">
  <link href="{%static 'fontawesome-free/css/fontawesome.min.css'%}" rel="stylesheet">
  <link href="{%static 'fontawesome-free/css/fontawesome.css'%}" rel="stylesheet">
  <link href="{%static 'style.css'%}" rel="stylesheet">
  <link href="{%static 'all.css'%}" rel="stylesheet">
  <link href="{%static 'chart.js/Chart.css'%}" rel="stylesheet">
  <link href="{%static 'chart.js/Chart.min.css'%}" rel="stylesheet">
  <link href="{%static 'admin/css/adminlte.css'%}" rel="stylesheet">
  <link href="{%static 'admin/css/adminlte.css.map'%}" rel="stylesheet">
  <link href="{%static 'admin/css/adminlte.min.css'%}" rel="stylesheet">
  <link href="{%static 'admin/css/adminlte.css.map'%}" rel="stylesheet">

   <!-- Template Main js File -->
   <script src="{% static 'bootstrap-5.2.2-dist/js/bootstrap.bundle.js'%}"></script>
   <script src="{% static 'bootstrap-5.2.2-dist/js/bootstrap.bundle.min.js'%}"></script>
   <script src="{% static 'bootstrap-5.2.2-dist/js/bootstrap.min.js'%}"></script>
   <script src="{% static 'bootstrap-5.2.2-dist/js/bootstrap.js'%}"></script>
   <script src="{% static 'chart.js/Chart.bundle.js' %}"></script>
   <script src="{% static 'chart.js/Chart.bundle.min.js' %}"></script>
   <script src="{% static 'chart.js/Chart.js' %}"></script>
   <script src="{% static 'chart.js/Chart.min.js' %}"></script>
   <script src="{% static 'script.js'%}"></script>
   <script src="{% static 'jquery.min.js'%}"></script>


<!DOCTYPE HTML>
<html>
    <head>
    <title>update budget</title>
  </head>
<body class="hold-transition register-page">
<div class="register-box">
  <div class="card card-outline card-secondary">

    <div class="card-body">
      <p class="login-box-msg">update a existing budget</p>
     {% for message in messages%}
        <div class="alert alert-{{message.tags}}">{{message}}
          <button class="close" data-dismiss="alert" aria-label="close">&times;</button>
        </div>
            {% endfor %}
      <form action="update" method="POST" id="myForm">
        {% csrf_token %}
        <label for="existing date">previous date: {{budget.date}}</label>
        <div class="input-group mb-3">
          <input type="date" class="form-control" name="date" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
       <label>day</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="day" value="{{budget.day}}" placeholder="enter new budget day" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <label>category</label>
        <div class="input-group mb-3">
          <select name="category" id="category" class="form-control">
            <option value=""><p><b>{{budget.category}}</b></p></option>
            <option value="groceries">groceries</option>
            <option value="transportation">transportation</option>
            <option value="entertainment">entertainment</option>
            <option value="supermarket">supermarket</option>
            <option value="adventure">adventure</option>
            <option value="maintainance">maintainance</option>
            <option value="hardware">hardware</option>
            <option value="accessory">accessory</option>
            <option value="vaterinary">vaterinary</option>
            <option value="agrovet">agrovet</option>
            <option value="cosmetics">cosmetics</option>
            <option value="health">health</option>
            <option value="luxury">luxury</option>
            <option value="fanny">fanny</option>

          </select>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
      <label>quantity</label>
        <div class="input-group mb-3">
          <input type="number" class="form-control" name="quantity" value="{{budget.quantity}}">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        
        <div class="input-group mb-3">
          <input type="number" class="form-control" name="amount" value="{{budget.amount}}" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <label for="existing description"> description: </label>
        <div class="input-group mb-3">
          <textarea name="description" class="form-control" col="50" row="30">
          {{budget.description}}
            </textarea>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="agreeTerms" name="terms" value="agree">
              <label for="agreeTerms">
               I agree to the <a href="#">terms</a>
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">submit</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <div class="social-auth-links text-center">
        <a href="#" class="btn btn-block btn-secondary">
          <i class="fab fa-facebook mr-2"></i>
          follow us on
        </a>
        <a href="#" class="btn btn-block btn-warning">
          <i class="fab fa-fa-instagram mr-2"></i>
          follow us on instagram
        </a>
      </div>

      <a href="{%url 'login'%}" class="text-center"> go to login</a>
    </div>
  </div>
</div>
<script> 
</script>
</body>
</html>

    