{%load static %}
<!-- Template Main CSS File -->
  <link href="{%static 'bootstrap-5.2.2-dist/css/bootstrap.css'%}" rel="stylesheet">
  <link href="{%static 'bootstrap-5.2.2-dist/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{%static 'fontawesome-free/css/all.min.css'%}" rel="stylesheet">
  <!--<link href="{%static 'fontawesome-free/css/all.css'%}" rel="stylesheet">
  <link href="{%static 'fontawesome-free/css/fontawesome.min.css'%}" rel="stylesheet">
  <link href="{%static 'fontawesome-free/css/fontawesome.css'%}" rel="stylesheet">
  -->
  <link href="{%static 'style.css'%}" rel="stylesheet">
  <!--<link href="{%static 'all.css'%}" rel="stylesheet">-->
  <link href="{%static 'chart.js/Chart.css'%}" rel="stylesheet">
  <link href="{%static 'chart.js/Chart.min.css'%}" rel="stylesheet">

   <!-- Template Main js File -->
   <script src="{% static 'bootstrap-5.2.2-dist/js/bootstrap.bundle.js'%}"></script>
   <script src="{% static 'bootstrap-5.2.2-dist/js/bootstrap.bundle.min.js'%}"></script>
   <script src="{% static 'bootstrap-5.2.2-dist/js/bootstrap.min.js'%}"></script>
   <script src="{% static 'bootstrap-5.2.2-dist/js/bootstrap.js'%}"></script>
   <script src="{% static 'chart.js/Chart.bundle.js' %}"></script>
   <script src="{% static 'chart.js/Chart.bundle.min.js' %}"></script>
   <script src="{% static 'chart.js/Chart.js' %}"></script>
   <script src="{% static 'chart.js/Chart.min.js' %}"></script>
   <script src="{% static 'script.js'%}"></script>
   <script src="{% static 'jquery.min.js'%}"></script>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8 strict" />
        <meta name="viewport" content="width=device API 2.1, maximum=device-width 800 x 800, user-scalable= yes" />
        <title>footer</title>
    </head>
    <body>
    <footer class="container bg-light" id="footer">
    <p class="float-end"><a href="#" class="nav-link" style="margin-left:15px">Back to top</a></p>
    <p>&copy; Budget Tracker v2.0,  All Right Reserved, Inc.&reg; Developed & maintained by Greyson Peter Contact me on <a href="tel: +255 752 943 225" >call</a><a href="#" style="float: right; margin-left:15px">Terms</a></p>
  </footer>
    </body>
 </html>
