{%load static %}
<!-- Template Main CSS File -->
  <link href="{%static 'bootstrap-5.2.2-dist/css/bootstrap.css'%}" rel="stylesheet">
  <link href="{%static 'bootstrap-5.2.2-dist/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{%static 'fontawesome-free/css/all.min.css'%}" rel="stylesheet">
  <link href="{%static 'fontawesome-free/css/all.css'%}" rel="stylesheet">
  <link href="{%static 'fontawesome-free/css/fontawesome.min.css'%}" rel="stylesheet">
  <link href="{%static 'fontawesome-free/css/fontawesome.css'%}" rel="stylesheet">
  <link href="{%static 'style.css'%}" rel="stylesheet">
  <link href="{%static 'all.css'%}" rel="stylesheet">
  <link href="{%static 'chart.js/Chart.css'%}" rel="stylesheet">
  <link href="{%static 'chart.js/Chart.min.css'%}" rel="stylesheet">
  <link href="{%static 'admin/css/adminlte.css'%}" rel="stylesheet">
  <link href="{%static 'admin/css/adminlte.css.map'%}" rel="stylesheet">
  <link href="{%static 'admin/css/adminlte.min.css'%}" rel="stylesheet">
  <link href="{%static 'admin/css/adminlte.css.map'%}" rel="stylesheet">

   <!-- Template Main js File -->
   <script src="{% static 'bootstrap-5.2.2-dist/js/bootstrap.bundle.js'%}"></script>
   <script src="{% static 'bootstrap-5.2.2-dist/js/bootstrap.bundle.min.js'%}"></script>
   <script src="{% static 'bootstrap-5.2.2-dist/js/bootstrap.min.js'%}"></script>
   <script src="{% static 'bootstrap-5.2.2-dist/js/bootstrap.js'%}"></script>
   <script src="{% static 'chart.js/Chart.bundle.js' %}"></script>
   <script src="{% static 'chart.js/Chart.bundle.min.js' %}"></script>
   <script src="{% static 'chart.js/Chart.js' %}"></script>
   <script src="{% static 'chart.js/Chart.min.js' %}"></script>
   <script src="{% static 'script.js'%}"></script>
   <script src="{% static 'jquery.min.js'%}"></script>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Login</title>
  <!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
</head>
<body class="hold-transition login-page" onload="login();">
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to start your session</p>
     {% for message in messages%}
        <div class="alert alert-{{message.tags}}">{{message}}
          <button class="close" data-dismiss="alert" aria-label="close">&times;</button>
        </div>
            {% endfor %}
      <form action="login" method="post">
        {% csrf_token %}
        <div class="input-group mb-1">
          <input type="text" class="form-control" name="username" id="username" placeholder=" username or Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-1">
          <input type="password" class="form-control" name="password" id="pass" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-key"></span>
            </div>
            </div><br>
            <div class="form-group">
            <input type="checkbox" id="show">
            <span class="text-secondary">show password</span>
            </div>
          
        
        </div>
        <div></div><br>
          <!-- /.col -->
          <center>
          <div class="col-8">
            <button type="submit" class="btn btn-primary">Sign In</button>
          </div>
          </center>
          <!-- /.col -->
        </div>
      </form>

      <div class="social-auth-links text-center mb-3">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-primary">
          <i class="fab fa-google mr-2"></i> Sign in using Google
        </a>
        <a href="#" class="btn btn-block btn-warning">
          <i class="fab fa-microsoft-bars mr-2"></i> Sign in using Microsoft
        </a>
      </div>
      <!-- /.social-auth-links -->

      <p class="mb-1">
        <a href="{%url 'recover'%}">I forgot my password</a>
      </p>
      <p class="mb-0">
        <a href="{%url 'register'%}" class="text-center">Register a new membership</a>
      </p>
    </div>
  </div>
  <script>
  function login(){
  $(function(){
    var username = $("#username");
    username.on("input", function(){
      //console.log(username);
      localStorage.setItem("username", username.val());

    })

  })
}

$(document).ready(function () {

  var password = $("#pass");
  $("#show").on("click", function () {
    if (password.type === 'password') {
      password.type = 'text';
    }
     else {
      password.type = 'password';
    }
  });
});
  </script>
</div>
</body>
</html>